[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=TL
Comment=Launcher for Minecraft
Comment[ru]=Лаунчер для Minecraft
Comment[eo]=Lanĉilo por Minecraft
Exec=@out@/bin/tl
Icon=minecraft
Categories=Game;
Terminal=false
